.App {
  background-color: #252930;
  align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.App-link {
  color: #61dafb;
}